build/
imgui.ini
settings.ini
.vscode/
.vs/
.cap
.DS_Store
CMakeUserPresets.json
.cache/
.idea/
.claude/
.tmp/
AGENTS.md
GEMINI.md

# Premake files
*.filters
*.user
*.vcxproj
*.xcodeproj
/Box2D/
Makefile
